<html>
    <head>
        <meta charset="utf-8">
        <title>Inventory Management System Using Flask</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    </head>
    <body>
        {% include 'includes/_navbar.html' %}
        <div class="container mt-4">
            {% include 'includes/_messages.html' %}
            {% block body %}{% endblock %}
        </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </body>
    <style>
        body {
          background-image: linear-gradient(45deg, pink , purple);
          background-repeat: no-repeat;
          background-size: cover;
        }
        .text-primary{
            color:white !important;
        }
        </style>
</html>
